.hero-azzurro{
    background-color: #cefbff;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hero-rosa{
    background-color: #ecceff;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hero-bianco{
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
}